<div class="d-flex justify-content-center">
  <div class="col-6">
    <h2>Добро пожаловать</h2>
    <p>
      На этой планформе представлен удобный чек-лист, где вы можете составить
      план на день и текущую неделю. Для начала работы нужно авторизироваться.
    </p>
    <div class="d-flex justify-content-center flex-row">
      <button type="button" routerLink="/sign-in" class="btn btn-primary mx-2">
        Вход
      </button>

      <button
        type="button"
        routerLink="/register-user"
        class="btn btn-success mx-2"
      >
        Регистрация
      </button>
    </div>
  </div>
</div>
