<div class="d-flex justify-content-center">
  <div class="col col-md-6">
    <h2 class="text-center">
      {{ "LANGUAGES.welcome" | translate }}
    </h2>
    <p class="text-center">
      {{ "LANGUAGES.welcomeText" | translate }}
    </p>
    <div class="d-flex justify-content-center flex-row">
      <button type="button" routerLink="/sign-in" class="btn btn-primary mx-2">
        {{ "LANGUAGES.login" | translate }}
      </button>

      <button
        type="button"
        routerLink="/register-user"
        class="btn btn-success mx-2"
      >
        {{ "LANGUAGES.register" | translate }}
      </button>
    </div>
  </div>
</div>
