<div class="container my-2">
  <div class="row">
    <div class="col-md-4 order-md-2">
      <mat-calendar
        #calendar
        [(selected)]="selectedDate"
        (selectedChange)="dateChanged($event)"
      >
      </mat-calendar>
    </div>
    <div class="col-md-8">
      <div
        class="alert alert-primary resertPadding"
        role="alert"
        *ngIf="todolist.sortList?.get(selectedDateISO)"
      >
        {{ "LANGUAGES.tasksForDay" | translate }}
        {{ dateOnDispaly }}
      </div>
      <div
        class="alert alert-primary resertPadding"
        role="alert"
        *ngIf="!todolist.sortList?.get(selectedDateISO)"
      >
        {{ "LANGUAGES.notTask1" | translate }}
        {{ dateOnDispaly }}
        {{ "LANGUAGES.notTask2" | translate }}
      </div>

      <div *ngIf="todolist.isLoad; else unset" class="">
        <ul class="resetPadding">
          <!-- <app-task-list-item
            *ngFor="let item of todolist.todoList"
            [item]="item"
          > -->
          <app-task-list-item
            *ngFor="let item of todolist.sortList.get(selectedDateISO)"
            [item]="item"
          >
          </app-task-list-item>
        </ul>
        <button type="button" class="btn btn-primary" (click)="AddEmptyTask()">
          {{ "LANGUAGES.addTask" | translate }}
        </button>
      </div>
    </div>
  </div>

  <ng-template #unset class="">
    <div class="d-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
<!-- task list item -->
