<form [formGroup]="myForm">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input
          formControlName="complectedControl"
          type="checkbox"
          aria-label="Radio button for following text input"
        />
      </div>
    </div>
    <input
      type="text"
      class="form-control rounded-right"
      aria-label="Text input with radio button"
      formControlName="titleControl"
    />
    <button
      type="button"
      class="close custom__close"
      aria-label="Close"
      (click)="DeleteItem()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</form>
<!--  -->
<!-- 
<div class="input-group">
  <input
    [formControl]="titleControl"
    type="text"
    class="form-control outline-success"
    aria-label="Text input with dropdown button"
  />

  <div class="input-group-append">
    <button
      [formControl]="dropdownControl"
      class="btn btn-outline-secondary dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Dropdown
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div> -->
