<!-- git remote add origin https://github.com/AlexandrMazharov/Todo-Angular.git -->
<div class="header">
  <div class="container">
    <div class="d-flex flex-row justify-content-end">
      <div class="logo my-2 mr-n3">
        <!-- <img src="../assets/images/logo.png" class="img-fluid" alt="logo" /> -->
        <div class="logo">
          <div class="arrow">
            <div class="arrow__body"></div>
            <div class="arrow__head"></div>
          </div>

          <div class="logo__text">TODO-APP</div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-between">
      <ul class="nav nav-tabs d-flex flex-row">
        <li class="nav-item" *ngIf="!authService.isLoggedIn">
          <a
            class="nav-link"
            href="#"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ "LANGUAGES.home" | translate }}
          </a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn">
          <a
            class="nav-link"
            href="#"
            routerLink="/sign-in"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ "LANGUAGES.login" | translate }}</a
          >
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn">
          <a
            class="nav-link"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/register-user']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ "LANGUAGES.register" | translate }}</a
          >
        </li>

        <li class="nav-item" *ngIf="authService.isLoggedIn">
          <a
            class="nav-link"
            href="#"
            (click)="authService.SignOut()"
            [routerLink]="['/todo']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ "LANGUAGES.logout" | translate }}</a
          >
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn">
          <a
            class="nav-link"
            href="#"
            [routerLink]="['/todo']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ "LANGUAGES.taskList" | translate }}</a
          >
        </li>
      </ul>

      <div>
        <select
          class="form-control app__lng"
          #langselect
          (change)="onchangeLng(langselect.value)"
        >
          <option>RU</option>
          <option>EN</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="custom-main">
  <div class="container-md custom-main__inner">
    <div class="d-flex flex-column">
      <div *ngIf="!authService.isLoggedIn" class="mx-auto text-center">
        <img src="./assets/images/ORL55C1.png" alt="img" class="img-fluid" />
      </div>

      <router-outlet> </router-outlet>
    </div>
  </div>
</div>
