// .logo {
//   width: 40px;
//   height: 40px;
// }
.header {
  background: #fafafa;
}
.custom-bg {
  background: #fafafa;

  padding-bottom: 20px;
}
// .shadow {
//   box-shadow: 0 10px 6px -6px #777;
// }

.custom-main {
  min-height: 100vh;
  background: #fafafa;
  padding-bottom: 30px;
}
.custom-main__inner {
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  // box-shadow: 0 10px 6px -6px #777;
  background: white;
}
