<!-- <form>
  <h3>Войти</h3>
  <div class="col-6">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Username"
        #userName
        required
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        #userPassword
        required
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      (click)="authService.SignIn(userName.value, userPassword.value)"
    >
      Log in</button
    ><br />

    <button
      type="submit"
      class="btn btn-primary"
      (click)="authService.GoogleAuth()"
    >
      Войти через гугл</button
    ><br />
    <button type="submit" class="btn btn-primary" routerLink="/forgot-password">
      Сбросить пароль</button
    ><br />

    <button type="submit" class="btn btn-primary" routerLink="/register-user">
      Регистрация</button
    ><br />
  </div>
</form> -->
<div class="d-flex justify-content-center">
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">{{
          "LANGUAGES.email" | translate
        }}</label>
        <input
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="{{ 'LANGUAGES.email' | translate }}"
          #userName
          required
        />
        <!-- <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        > -->
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">{{
          "LANGUAGES.password" | translate
        }}</label>
        <input
          type="password"
          class="form-control"
          placeholder="{{ 'LANGUAGES.password' | translate }}"
          #userPassword
          required
        />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">{{
          "LANGUAGES.rememberMe" | translate
        }}</label>
      </div>
      <div class="d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center">
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary"
              class="btn btn-primary"
              (click)="authService.SignIn(userName.value, userPassword.value)"
            >
              {{ "LANGUAGES.login" | translate }}
            </button>
          </div>
          <div class="form-group mx-2">
            <button
              type="submit"
              class="btn btn-primary"
              (click)="authService.GoogleAuth()"
            >
              {{ "LANGUAGES.logInGoogle" | translate }}</button
            ><br />
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-success"
          routerLink="/register-user"
        >
          {{ "LANGUAGES.register" | translate }}</button
        ><br />
        <button type="submit" class="btn" routerLink="/forgot-password">
          {{ "LANGUAGES.forgotPassword" | translate }}</button
        ><br />
      </div>
    </form>
  </div>
</div>
