<form>
  <div class="col-6">
    <h3>Сброс паролья</h3>
    <p class="text-center">
      Please enter your email address to request a password reset.
    </p>
    <label for="exampleInputEmail1">Email address</label>
    <input
      id="exampleInputEmail1"
      type="email"
      class="form-control"
      placeholder="Email Address"
      #passwordResetEmail
      required
    />
    <input
      type="submit"
      class="btn btnPrimary btn btn-primary btn-block"
      value="Сбросить "
      (click)="authService.ForgotPassword(passwordResetEmail.value)"
    />
    <div class="form-group">
      <input
        type="submit"
        class="btn btnPrimary btn btn-outline-primary"
        value="Назад"
        routerLink="/sign-in"
      />
    </div>
  </div>
</form>

<!-- <div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>

      <p class="text-center">
        Please enter your email address to request a password reset.
      </p>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          #passwordResetEmail
          required
        />
      </div>
    
      <div class="formGroup">
        <input
          type="submit"
          class="btn btnPrimary"
          value="Reset Password"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
        />
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Go back to ?
        <span class="redirect" routerLink="/sign-in">Log In</span></span
      >
    </div>
  </div>
</div> -->
