<form class="mx-auto my-3">
  <div class="col-12 col-md-6 mx-auto">
    <h3>
      {{ "LANGUAGES.resetPass" | translate }}
    </h3>
    <p class="">
      {{ "LANGUAGES.enterEmail" | translate }}
    </p>
    <label for="exampleInputEmail1">
      {{ "LANGUAGES.emailAddress" | translate }}
    </label>
    <div class="form-group">
      <input
        id="exampleInputEmail1"
        type="email"
        class="form-control"
        placeholder=" {{ 'LANGUAGES.email' | translate }}"
        #passwordResetEmail
        required
      />
    </div>
    <div class="form-group text-center">
      <input
        type="submit"
        class="btn btnPrimary btn btn-primary"
        value=" {{ 'LANGUAGES.reset' | translate }}"
        (click)="authService.ForgotPassword(passwordResetEmail.value)"
      />
    </div>
    <div class="form-group text-center">
      <input
        type="submit"
        class="btn btnPrimary btn btn-outline-primary"
        value=" {{ 'LANGUAGES.back' | translate }}"
        routerLink="/sign-in"
      />
    </div>
  </div>
</form>

<!-- <div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>

      <p class="text-center">
        Please enter your email address to request a password reset.
      </p>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          #passwordResetEmail
          required
        />
      </div>
    
      <div class="formGroup">
        <input
          type="submit"
          class="btn btnPrimary"
          value="Reset Password"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
        />
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Go back to ?
        <span class="redirect" routerLink="/sign-in">Log In</span></span
      >
    </div>
  </div>
</div> -->
